/* header */ 

 	 header{background-color: blue;}

/* header */
/* main*/

  	main{background-color: #DB2304;}




  /* links to directions */
  	#link {color: black;}

 	#link {font-size: 350%;}

 	#link {font-weight: bold;}


  /* / links to directions*/

/* main */






